.wrapper {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.calendar__container,
.calendar__date {
  display: flex;
  margin: 0 auto;
}
.calendar__date {
  margin-bottom: 30px;
  margin-top: 30px;
}
.calendar__month,
.calendar__year,
.calendar__enter,
.calendar__prev-button,
.calendar__next-button,
.calendar__today-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background: rgb(146, 146, 236);
  color: #fff;
  border: 0;
  margin: 3px;
}
.calendar__next-button {
  margin-right: 30px;
}
.calendar__head {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: rgb(47, 226, 196);

  height: 40px;
  text-align: center;
}
.calendar__empty-cells {
  background: white;
}
.calendar__day {
  font-size: 18px;
  color: rgb(23, 8, 78);
  width: 30px;
  height: auto;
  min-height: 30px;
  padding: 5px;
  vertical-align: top;
}
.calendar__day td {
  border: 2px solid rgb(170, 170, 236);
  padding: 15px 15px;
  vertical-align: top;
}
.calendar__day td:hover {
  background: #eee6ea;
}
.calendar__event-day {
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  color: #f38080;
}
.calendar__form {
  padding: 15px;
  margin-top: 20px;
  background: #f1f1da;
  border: 0;
  border-radius: 10px;
}
.calendar__event-header {
  color: rgb(39, 35, 35);
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.calendar__event-date {
  color: rgb(18, 9, 126);
  margin: 12px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.calendar__event-details {
  display: block;
  box-sizing: padding-box;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgb(252, 252, 252);
  resize: none;
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}
.calendar__event-button {
  display: flex;
  justify-content: center;
}
.calendar__save-button,
.calendar__cancel-button {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #0f9e6e;
  color: #fff;
}
.calendar__cancel-button {
  background: #c01717;
  margin-right: 100px;
}
#calendar {
  border-collapse: collapse;
}
